:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --primary: #2d545e;
  --dark: #242424;

  --btn-primary: #e1b382;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}
