

.categories__container {
  position: relative;
}

.categories {
  width: 40vw;
  padding: 5px 10px;
  background-color: white;
  color: var(--dark);
  text-align: center;
}

.categories-items {
  position: absolute;
  width: 35%;
  z-index: 10;
  span {
    width: 100%;
  }
}

.list-of-verbs__list{
  margin: 10px 0px;
}

.list__verb > span{
  padding: 3px 5px;
}

.list-table{
  border-collapse: collapse;
  border: 1px solid white;
  table-layout: fixed;
  width: 100%;
}

.list-table > thead > tr > th {
  border: 1px solid white;
}

.list-table > tbody > tr > td {
  padding: 3px 5px;
  border: 1px solid white;
}